{
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true
    },
    "logs": {
        "text": "reports/infection.log"
    },
    "minCoveredMsi": 100,
    "testFramework": "phpunit"
}
