name: Build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  coding-standards:
    name: "Coding Standards"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: 8.2
          tools: composer

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run coding standards
        run: composer lint:cs

  static-analysis:
    name: "Static Analysis"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: 8.2
          tools: composer

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run coding standards
        run: composer lint:phpstan

  tests:
    name: "Tests"
    runs-on: "ubuntu-latest"
    needs: ["static-analysis", "coding-standards"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: 8.2
          tools: composer

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

# Enable for db integration tests
#      - uses: isbang/compose-action@v1.4.1
#        with:
#          compose-file: "./docker-compose.yml"

      - name: Run tests
        run: composer test
# Enable for db integration tests
#        env:
#          DATABASE_URL: "mysql://admin:changeme@127.0.0.1:3306/integration?serverVersion=8:0"

      - name: Cache reports
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-report-${{ github.sha }}
          path: reports/

  mutation-testing:
    name: "Mutation Testing"
    runs-on: "ubuntu-latest"
    needs: "tests"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: 8.2
          tools: composer

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Restore reports from cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-report-${{ github.sha }}
          restore-keys: ${{ runner.os }}-report-${{ github.sha }}
          fail-on-cache-miss: true
          path: reports/

      - name: Run infection
        run: composer mutation-testing
